<ion-header>
    <ion-navbar>
        <ion-title class="title-center">Create Password</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <p text-center>Ceate New Password<br>for your registered Email</p>
    <ion-list no-lines class="form">
        <ion-item *ngIf="oldPassBoolean">
            <ion-icon name="md-lock" item-start></ion-icon>
            <ion-label floating>Old Password</ion-label>
            <ion-input [(ngModel)]="oldPass" type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="md-lock" item-start></ion-icon>
            <ion-label floating>New Password</ion-label>
            <ion-input [(ngModel)]="firstPass" type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="md-lock" item-start></ion-icon>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
        </ion-item>
    </ion-list>
    <!-- change Password -->

    <button *ngIf="!oldPassBoolean" ion-button block (click)="signin()">Submit</button>
    <button *ngIf="oldPassBoolean" ion-button block (click)="changePass()">Submit</button>
</ion-content>