<ion-header>
    <ion-navbar>
        <ion-title class="title-center">Payment</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light" no-bounce>
    <p padding-left padding-right class="heading">Select Payment Method</p>
    <ion-toolbar no-border-top class="select-tab">
        <ion-segment [(ngModel)]="payment">
            <ion-segment-button value="strip">
                <span class="debit"></span> Stripe payment
            </ion-segment-button>

            <ion-segment-button value="cod">
                <span class="cod"></span> Cash on Delivery
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <div [ngSwitch]="payment" class="address-list">
        <ion-list *ngSwitchCase="'strip'" no-lines class="home-address">
            <div class="input-address" padding>
                <p class="heading" no-margin padding-bottom>Enter Card Details</p>
                <ion-list no-line>
                    <ion-item>
                        <ion-input (keypress)="mask($event)" [(ngModel)]="cardNumber" type="Card" placeholder="Card Number"></ion-input>
                    </ion-item>
                    <ion-row no-padding>
                        <ion-col no-padding>
                            <ion-item>
                                <!-- <ion-input [(ngModel)]="cardMonth" type="Number" placeholder="Month"></ion-input> -->
                                <ion-label>Month</ion-label>
                                <ion-select placeholder="" [(ngModel)]="cardMonth">
                                    <ion-option *ngFor="let item of month" [value]="item">{{item}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col no-padding>
                            <ion-item>
                                <!-- <ion-input [(ngModel)]="cardYear" type="Number" placeholder="Year"></ion-input> -->
                                <ion-label>Year</ion-label>
                                <ion-select placeholder="" [(ngModel)]="cardYear">
                                    <ion-option *ngFor="let item of year" [value]="item">{{item}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-item>
                        <ion-input type="text" maxlength="3" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [(ngModel)]="cardCvv" placeholder="CVV"></ion-input>
                    </ion-item>
                </ion-list>
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'cod'" no-lines class="other-address">
            <div class="input-address" padding>
                <p class="heading" no-margin padding-bottom>Registered Address Details</p>
                <ion-list no-line>

                    <ion-item>
                        <ion-input disabled="true" [(ngModel)]="address" type="text"
                            placeholder="Street Address, Landmark, etc."></ion-input>
                    </ion-item>
                    <ion-row no-padding>
                        <ion-col no-padding>
                            <ion-item>
                                <ion-input disabled="true" [(ngModel)]="zipcode" type="text" placeholder="Zip Code">
                                </ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col no-padding>
                            <ion-item>
                                <ion-input disabled="true" [(ngModel)]="city" type="text" placeholder="City">
                                </ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-item class="check-item">

                        <ion-label>Can't update Address</ion-label>
                    </ion-item>
                </ion-list>
            </div>
        </ion-list>
    </div>

</ion-content>
<ion-footer>
    <div class="fixed-bootom" (click)="orderslip()">
        <ion-row>
            <ion-col class="cost" col-7>Amount Payable $75.00</ion-col>
            <ion-col class="next" col-5>Confirmed
                <ion-icon name="ios-arrow-forward-outline"></ion-icon>
            </ion-col>
        </ion-row>
    </div>
</ion-footer>