page-signup {
  .bgImg {
    background: url("../../assets/imgs/login.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cam-icon {
    width: 75px;
    height: 75px;
    font-size: 2.6rem;
    background-color: $bg-light;
    text-align: center;
    line-height: 75px;
    color: $white;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .button {
    height: 50px;
    font-size: 1.5rem;
    background-color: white;
    color: black;
  }
  .form {
    margin-bottom: 35px;
  }
  .title-center {
    text-align: center !important;
    margin-right: 44px;
    // color: white !important;
  }
  .item-md {
    background-color: transparent !important;
  }
  .label {
    font-size: 1.5rem;
    font-weight: 300;
    color: #f8f2f2 !important;
  }
  .header .toolbar-background {
    background-color: transparent !important;
    border-color: transparent !important;
  }
  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: white !important;
  }
  .back-button {
    color: #eef3f4 !important;
  }
}
